body {
  margin: 0;
  padding: 0 20px 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.palettes {
  display: flex;
  flex-wrap: wrap;
}
.palette {
  margin: 20px;
  border-radius: 15px;
  width: 200px;
  cursor: pointer;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}

.colour {
  padding: 3px;
  display: flex;
  height: 40px;
}

.hex {
  width: 100px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0);
}

.rgb {
  width: 200px;
  text-align: right;
  color: rgba(0, 0, 0, 0);
}
input#socketIODest {
  margin: 5px;
  padding: 5px;
  min-width: 400px;
}
